div.chat-modal-create-channel__control.-threading-toggle {
  display: none;
}

.c-routes.--channel-info-members {
  li.c-channel-members__list-item {
    display: flex;
    flex-direction: row;
    button {
      margin-left: auto;
      svg {
        margin-right: 0;
      }
    }
  }
}